<div class="container ">
    <div class="row">
        {{#each allEvents}}
        <div class="col-3 text-center m-3">
            <div class="card phrases bg-danger">
                <div class="card-body">
                    <h3 class="card-text text-warning">"{{title}}"</h3>
                    <hr>
                    <h4>{{theme}}</h4>
                    <hr>
                    <h5>{{location}}</h5>
                    <hr>
                    <h6>{{owner}}</h6>
                    <hr>
                    <ul>
                        {{#each participants}}
                        <li>{{this}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>