<div class="registro text-center">
    <h1 class="mb-5">Lista de eventos</h1>
    <div class="row">
        {{#each allEvents}}
        <div class="col-3 text-center">
            <div class="card phrases bg-dark">
                <div class="card-body">
                    <h3 class="card-text text-warning">"{{title}}"</h3>
                    <hr>
                    <h4>{{theme}}</h4>
                
                    <h5 class="text-warning">{{locationName}}</h5>
                    
                    <h6>{{owner.username}}</h6>
                    <hr>
                </div>
            </div>
             <a href="/events/{{id}}" class="btn btn-sm btn-danger text-warning mt-3 mb-5">Ver evento</a>
        </div>
       
        {{/each}}
    </div>
</div>




<figure id="myMap"></figure>



<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="/javascripts/main.js"></script>
<script src="/javascripts/mapStyles.js"></script>
<script src="/javascripts/directions.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBx3OiipzcZaPCL4CjIXP8rlepTewo-z-0"></script>


<a href="/profile" class="btn btn-sm btn-danger text-warning mt-5 mb-5 pl-5 pr-5">Volver</a>
