<div class="container ">

    <h1 style="font-weight: 100">{{theMovie.name}}</h1>

    <img src="{{theMovie.coverImg}}" alt="cover image">
    <h3>{{theMovie.name}}</h3>
    <p>Description:{{theMovie.description}}</p>
    <p>Actors:{{theMovie.actors}}</p>
    <p>Realeased Year:{{theMovie.year}}</p>

   

    <a href="/perfil" class="btn btn-dark">Volver</a>

</div>