<div class="container registro">

    <h1>{{title}}</h1>

    <img src="{{coverImg}}" alt="cover image">
    <p>Descripción:  {{description}}</p>
    <p>Actores:  {{actors}}</p>
    <p>Año de estreno:  {{year}}</p>

    <a href="/movies" class="btn btn-sm btn-danger text-warning  mt-3">Volver al listado</a>

</div>