<div class="container registro">

    <h1>{{title}}</h1>

    <img src="{{coverImg}}" alt="cover image">
    <p>Descripción: {{description}}</p>
    <p>Actores: {{actors}}</p>
    <p>Año de estreno: {{year}}</p>

    <a href="/movies" class="btn btn-sm btn-danger text-warning m-5">Volver al listado</a>
    <a href="/movies/{{_id}}/newComment" class="btn btn-sm btn-danger text-warning m-5">Deja tu comentario</a>
</div>

<div class="container registro">
    <h2>Opiniones sobre {{title}}</h2>
    <ul>
        {{#each comments}}
        <li>{{this}}</li>
             <a href="">Borrar comentario</a>
             <a href="">Editar comentario</a>
        {{/each}}
    </ul>

</div>