<div class="registro mt-5">

    <h1>{{title}}</h1>

    <img src="{{coverImg}}" alt="cover image">
    <h3 class="mt-5">Descripción: {{description}}</h3>
    <h4>Actores: {{actors}}</h4>
    <h5>Año de estreno: {{year}}</h5>

    <a href="/movies" class="btn btn-sm btn-danger text-warning m-5">Volver al listado</a>
    <a href="/movies/{{_id}}/newComment" class="btn btn-sm btn-danger text-warning m-5">Deja tu comentario</a>
</div>


    <h2 class="text-center">Opiniones sobre {{title}}</h2>
   
    <div class="row mb-5">
        {{#each comments}}
         <div class="col-4 text-center" id="comments">
            <div class="bg-white ">
                <div class="card-body">
                    <h5>"{{this}}"</h5>
                </div>
            </div>
        </div>
      
        {{/each}}
  </div>

</div>