<div class="registro text-center">
    <h1 class="mb-5">{{title}}</h1>
    <div class="row">
    <div class="col-6">
        
        <img src="{{coverImg}}" alt="cover image">
    </div>
    <div class="col-6">
        <h3>Sinopsis: {{description}}</h3>
        <hr>
        <h4>Año de estreno: {{year}}</h4>
    </div>
</div>
    <a href="/comics" class="btn btn-sm btn-danger text-warning  ">Volver a lista</a>
    <a href="/comics/{{_id}}/newComment" class="btn btn-sm btn-danger text-warning m-5">Deja tu comentario</a>
</div>


    <h2 class="text-center text-white mb-4">Opiniones sobre {{title}}</h2>
    <hr>
<div class="row mb-5">
    {{#each comments}}

    {{>eachComments this}}

    {{/each}}
</div>

  </div>
